<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes app NodeJs and MongoDB
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, doloribus, iure nulla reprehenderit, modi excepturi dolorum numquam at esse itaque praesentium animi sed eveniet odit dignissimos. Eligendi ut debitis nisi.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis beatae mollitia eveniet quis itaque asperiores aut ex illum, inventore sunt nesciunt nemo corrupti maiores! Obcaecati ducimus assumenda iusto ex id.
    </p>
</div>